@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>

    <h3 class="display-4">Transient Service</h3>
    @ViewBag.message1
    </br>
    @ViewBag.message2

</div>
